body {
	 overflow-x: hidden;
}
header {
	font-family: 'Roboto', sans-serif;
}
.logo {
	width: 110px;
	transition: 0.5s;
}
.logo:hover {
	width: 120px;
}

.header-color {
	background-color: #00352D;
	padding: 20px;
}
.search {
	height: 25px;
	width: 400px;
	margin-right: 2px;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	outline: none;
}

.lang-li a{
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}
.show a {
	display: inline-block;
}
.show:hower {
	background-color: #fff !important;
}
.border-b {
	border-bottom: 1px solid white;
	padding: 1px 0;
}
.icon {
	color: white;
	cursor: pointer;
}

.line {
	border-left: solid 1px;
	border-color: white;
	height :50px;
	width: 1px;
	margin: 0 10px;
}
.roboto {
	font-family: "Roboto-Regular", sans serif;
}

.sign {
	color: white;
	font-size: 12px;
	transition:0.3s ease-in-out;
}
.sign:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;

}
.house {
	width: 20px;
	cursor: pointer;
}
.nav-size {
	background-color: transparent !important;
}

.background-white {
	background-color: #fff !important;
}
.font-color a {
	color: #00352D !important;
}
.hover-style ul li a:hover {
	background-color: #00352D;
	color: #fff !important;
	border-radius: 25px;
}
.border-no {
	border: none !important;
}
.main-container {
	margin: 0 !important;
	padding: 0 !important;
}
.carousel-height {
	margin-top: 170px !important;
	height: 400px !important;
}

.slide-bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}
.slide-bg-1 {
	background-image: url("../img/jeff-nissen-567973-unsplash.jpg");
}
.slide-bg-2 {
	background-image: url("../img/andre-spieker-238-unsplash.jpg");
}
.slide-bg-3 {
	background-image: url("../img/david-clode-363878-unsplash.jpg");
}
.slide-bg-4 {
	background-image: url("../img/antonio-lapa-93448-unsplash.jpg");
}

.slider2 {
	height: 100%;
}
.slider2 div {
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 25px;
}
