body {
	 overflow-x: hidden;
}
.logo {
	width: 110px;
	transition: 0.5s;
}
.logo:hover {
	width: 120px;
}

.header-color {
	background-color: #00352D;
	line-height: 106px;
}
.search {
	height: 25px;
	width: 400px;
	margin-right: 2px;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	outline: none;
}
.icon {
	color: white;
	cursor: pointer;
}
/*.search-icon:hover {
	font-weight: bolder;
}*/
.line {
	border-left: solid 1px;
	border-color: white;
	height :50px;
	width: 1px;
	margin: 0 10px;
}
.roboto {
	font-family: "Roboto-Regular", sans serif;
}

.sign {
	color: white;
	font-size: 12px;
	transition:0.3s ease-in-out;
}
.sign:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;

}
.house {
	width: 20px;
	cursor: pointer;
}
